<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/RTM945/GameEngine">GameEngine</a></strong> </br>
			- 使用LWJGL2.9编写的OpenGL渲染练习
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/RTM945/webrtc-file-explorer">webrtc-file-explorer</a></strong> </br>
			- 毕业设计, 使用SpringBoot/WebSocket/Electron/WebRTC/BootStrap实现的文件共享系统
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/RTM945/CodeSnippets">CodeSnippets</a></strong> </br>
			- 各种实验和练习代码, 大多没有文档，可能有用，可能只是出于测试目的
		</h5>
    </div>
  </div>
</div>
</section>
